# MASTER REQUIREMENTS

# Data Manipulation
pandas==2.0.0 # Latest Version supports [3.8, 3.9, 3.10, 3.11]

# Geospatial Reference
geopandas==0.12.2 # Parallel to Pandas support
shapely>=1.7.0
fiona>=1.8.0

# CLI
# Requirements Management
pipreqs==0.4.11
# SQL Linting
sqlfluff==2.0.3