name: Code Testing
on:
  push:
    branches:
      - '**' # All branches get Tested
  workflow_dispatch: # Can test using dispatched workflow

jobs:
  python_unit_testing:
    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.10, 3.11] # pandas not below 3.8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main
        uses: actions/checkout@v2
      # Load master requirements.txt
      - name: Load master requirements
        run: |
          pip install -r master-requirements.txt
      # Run Python Tests
      - name: Python Unit Tests
        run: |
          dirlen=$(echo ls ./tests | wc -l)
          if [ ${dirlen} -gt 0 ]; then python -m unittest discover ./tests; fi
